body {
  background-color: black;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2em;
}
div.body {
  width: 50%;
  margin: 5px auto;
}
input,
button {
  font-size: 30px;
}

li:hover {
  cursor: pointer;
  text-decoration: line-through;
}
/* style for front end */
